<table align="left" width=100%>
    <tr>
        <td width="10%">
            <img src="title.png">
        </td>
        <td>
            <div align="left">
                <font color="#21618C" size=8px>
                  <b>Interest rate Prediction for loan
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Problem statement

For banks the interest rate for debtors is set based on various factors like if they have already taken a loan etc.. So in this case study, we use a loan dataset to predict the interest rate of the debtor using regression techniques.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
loan_data_train=pd.read_csv("C:\\Users\\SWETHA S\\Downloads\\loan_data_train.csv")

In [3]:
loan_data_test=pd.read_csv("C:\\Users\\SWETHA S\\Downloads\\loan_data_test.csv")

In [4]:
loan_data_train.shape

(2200, 15)

In [5]:
loan_data_test.shape # use only for prediction , train and test the model with train data set itself

(300, 14)

In [7]:
loan_data_train.head(3)

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year

In [6]:
loan_data_train.columns

Index(['ID', 'Amount.Requested', 'Amount.Funded.By.Investors', 'Interest.Rate',
       'Loan.Length', 'Loan.Purpose', 'Debt.To.Income.Ratio', 'State',
       'Home.Ownership', 'Monthly.Income', 'FICO.Range', 'Open.CREDIT.Lines',
       'Revolving.CREDIT.Balance', 'Inquiries.in.the.Last.6.Months',
       'Employment.Length'],
      dtype='object')

In [8]:
# creating interest rate variable in test
loan_data_test.insert(3,'Interest.Rate',np.nan)

In [10]:
loan_data_test.shape

(300, 15)

In [11]:
# creating new column to see if data is coming from train/test
loan_data_train['data']='train'

In [12]:
loan_data_train.head(2)

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years,train
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years,train

In [13]:
loan_data_test['data']='test'

In [14]:
loan_data_test.head(2)

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data
0,20093,5000,5000,NaN,60 months,moving,12.59%,NY,RENT,4416.67,690-694,13,7686,0,< 1 year,test
1,62445,18000,18000,NaN,60 months,debt_consolidation,4.93%,CA,RENT,5258.50,710-714,6,11596,0,10+ years,test

In [15]:
loan_data_train.columns

Index(['ID', 'Amount.Requested', 'Amount.Funded.By.Investors', 'Interest.Rate',
       'Loan.Length', 'Loan.Purpose', 'Debt.To.Income.Ratio', 'State',
       'Home.Ownership', 'Monthly.Income', 'FICO.Range', 'Open.CREDIT.Lines',
       'Revolving.CREDIT.Balance', 'Inquiries.in.the.Last.6.Months',
       'Employment.Length', 'data'],
      dtype='object')

In [16]:
loan_data_test.columns

Index(['ID', 'Amount.Requested', 'Amount.Funded.By.Investors', 'Interest.Rate',
       'Loan.Length', 'Loan.Purpose', 'Debt.To.Income.Ratio', 'State',
       'Home.Ownership', 'Monthly.Income', 'FICO.Range', 'Open.CREDIT.Lines',
       'Revolving.CREDIT.Balance', 'Inquiries.in.the.Last.6.Months',
       'Employment.Length', 'data'],
      dtype='object')

In [19]:
loan_data_train.columns=[i.replace('.','_') for i in loan_data_train.columns]

In [20]:
loan_data_train.columns

Index(['ID', 'Amount_Requested', 'Amount_Funded_By_Investors', 'Interest_Rate',
       'Loan_Length', 'Loan_Purpose', 'Debt_To_Income_Ratio', 'State',
       'Home_Ownership', 'Monthly_Income', 'FICO_Range', 'Open_CREDIT_Lines',
       'Revolving_CREDIT_Balance', 'Inquiries_in_the_Last_6_Months',
       'Employment_Length', 'data'],
      dtype='object')

In [21]:
# replacing '.' in columns
loan_data_test.columns=[i.replace('.','_') for i in loan_data_test.columns]

In [22]:
loan_data_test.columns

Index(['ID', 'Amount_Requested', 'Amount_Funded_By_Investors', 'Interest_Rate',
       'Loan_Length', 'Loan_Purpose', 'Debt_To_Income_Ratio', 'State',
       'Home_Ownership', 'Monthly_Income', 'FICO_Range', 'Open_CREDIT_Lines',
       'Revolving_CREDIT_Balance', 'Inquiries_in_the_Last_6_Months',
       'Employment_Length', 'data'],
      dtype='object')

In [49]:
# after checking column match, concatenate the dataframe
new_data=pd.concat([loan_data_train,loan_data_test],axis=0,join="inner",sort=False)

In [50]:
new_data.head()

,ID,Amount_Requested,Amount_Funded_By_Investors,Interest_Rate,Loan_Length,Loan_Purpose,Debt_To_Income_Ratio,State,Home_Ownership,Monthly_Income,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length,data
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years,train
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years,train
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year,train
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years,train
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years,train

In [51]:
new_data.shape

(2500, 16)

In [52]:
# checking the data types
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 299
Data columns (total 16 columns):
ID                                2499 non-null float64
Amount_Requested                  2499 non-null object
Amount_Funded_By_Investors        2499 non-null object
Interest_Rate                     2200 non-null object
Loan_Length                       2499 non-null object
Loan_Purpose                      2499 non-null object
Debt_To_Income_Ratio              2499 non-null object
State                             2499 non-null object
Home_Ownership                    2499 non-null object
Monthly_Income                    2497 non-null float64
FICO_Range                        2500 non-null object
Open_CREDIT_Lines                 2496 non-null object
Revolving_CREDIT_Balance          2497 non-null object
Inquiries_in_the_Last_6_Months    2497 non-null float64
Employment_Length                 2422 non-null object
data                              2500 non-null object
dtypes: float64(3), object(13)
memory usage: 332.0+ KB

In [53]:
# dropping ID and 'amt funded by investors' as it is a future variable
new_data.drop('ID',axis=1,inplace=True)

In [54]:
new_data.head()

,Amount_Requested,Amount_Funded_By_Investors,Interest_Rate,Loan_Length,Loan_Purpose,Debt_To_Income_Ratio,State,Home_Ownership,Monthly_Income,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length,data
0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years,train
1,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years,train
2,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year,train
3,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years,train
4,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years,train

In [55]:
new_data.drop('Amount_Funded_By_Investors',axis=1,inplace=True)

In [56]:
new_data.head()

,Amount_Requested,Interest_Rate,Loan_Length,Loan_Purpose,Debt_To_Income_Ratio,State,Home_Ownership,Monthly_Income,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length,data
0,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years,train
1,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years,train
2,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year,train
3,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years,train
4,24250,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years,train

In [57]:
# removing '%' from 'interest rate' and 'debt to income ratio'
new_data['Interest_Rate']=new_data['Interest_Rate'].str.replace('%','')

In [58]:
new_data['Debt_To_Income_Ratio']=new_data['Debt_To_Income_Ratio'].str.replace('%','')

In [59]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 299
Data columns (total 14 columns):
Amount_Requested                  2499 non-null object
Interest_Rate                     2200 non-null object
Loan_Length                       2499 non-null object
Loan_Purpose                      2499 non-null object
Debt_To_Income_Ratio              2499 non-null object
State                             2499 non-null object
Home_Ownership                    2499 non-null object
Monthly_Income                    2497 non-null float64
FICO_Range                        2500 non-null object
Open_CREDIT_Lines                 2496 non-null object
Revolving_CREDIT_Balance          2497 non-null object
Inquiries_in_the_Last_6_Months    2497 non-null float64
Employment_Length                 2422 non-null object
data                              2500 non-null object
dtypes: float64(2), object(12)
memory usage: 293.0+ KB

In [60]:
new_data.head(2)

,Amount_Requested,Interest_Rate,Loan_Length,Loan_Purpose,Debt_To_Income_Ratio,State,Home_Ownership,Monthly_Income,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length,data
0,25000,18.49,60 months,debt_consolidation,27.56,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years,train
1,19750,17.27,60 months,debt_consolidation,13.39,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years,train

In [45]:
new_data.columns

Index(['Amount_Requested', 'Interest_Rate', 'Loan_Length', 'Loan_Purpose',
       'Debt_To_Income_Ratio', 'State', 'Home_Ownership', 'Monthly_Income',
       'FICO_Range', 'Open_CREDIT_Lines', 'Revolving_CREDIT_Balance',
       'Inquiries_in_the_Last_6_Months', 'Employment_Length', 'data'],
      dtype='object')

In [61]:
c=['Amount_Requested', 'Interest_Rate',
       'Debt_To_Income_Ratio','Monthly_Income', 'Open_CREDIT_Lines', 'Revolving_CREDIT_Balance']
for i in c:
    new_data[i]=pd.to_numeric(new_data[i],errors='coerce')

In [62]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 299
Data columns (total 14 columns):
Amount_Requested                  2495 non-null float64
Interest_Rate                     2200 non-null float64
Loan_Length                       2499 non-null object
Loan_Purpose                      2499 non-null object
Debt_To_Income_Ratio              2499 non-null float64
State                             2499 non-null object
Home_Ownership                    2499 non-null object
Monthly_Income                    2497 non-null float64
FICO_Range                        2500 non-null object
Open_CREDIT_Lines                 2491 non-null float64
Revolving_CREDIT_Balance          2495 non-null float64
Inquiries_in_the_Last_6_Months    2497 non-null float64
Employment_Length                 2422 non-null object
data                              2500 non-null object
dtypes: float64(7), object(7)
memory usage: 293.0+ KB

In [73]:
s=new_data['FICO_Range']

0      720-724
1      710-714
2      690-694
3      710-714
4      730-734
5      785-789
6      665-669
7      735-739
8      740-744
9      765-769
10     710-714
11     800-804
12     680-684
13     690-694
14     745-749
15     745-749
16     680-684
17     660-664
18     670-674
19     720-724
20     665-669
21     705-709
22     695-699
23     695-699
24     690-694
25     705-709
26     665-669
27     715-719
28     760-764
29     685-689
        ...
270    675-679
271    740-744
272    755-759
273    760-764
274    730-734
275    750-754
276    670-674
277    675-679
278    740-744
279    685-689
280    660-664
281    670-674
282    690-694
283    665-669
284    670-674
285    730-734
286    690-694
287    710-714
288    715-719
289    700-704
290    675-679
291    760-764
292    665-669
293    735-739
294    755-759
295    705-709
296    705-709
297    670-674
298    675-679
299    675-679
Name: FICO_Range, Length: 2500, dtype: object

In [74]:
n=pd.DataFrame({'FICO_range':s})

In [80]:
n['lower']=n['FICO_range'].str.partition('-')[0]

In [81]:
n['upper']=n['FICO_range'].str.partition('-')[2]

In [108]:
df=new_data.copy()

In [109]:
df.head(2)

,Amount_Requested,Interest_Rate,Loan_Length,Loan_Purpose,Debt_To_Income_Ratio,State,Home_Ownership,Monthly_Income,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length,data
0,25000.0,18.49,60 months,debt_consolidation,27.56,VA,MORTGAGE,8606.56,720-724,11.0,15210.0,3.0,5 years,train
1,19750.0,17.27,60 months,debt_consolidation,13.39,NY,MORTGAGE,6737.50,710-714,14.0,19070.0,3.0,4 years,train

In [110]:
df['lower_range']=df['FICO_Range'].str.partition('-')[0]
df['upper_range']=df['FICO_Range'].str.partition('-')[2]

In [111]:
df['lower_range']=pd.to_numeric(df['lower_range'],errors='coerce')

In [112]:
df['upper_range']=pd.to_numeric(df['upper_range'],errors='coerce')

In [113]:
df.head()

,Amount_Requested,Interest_Rate,Loan_Length,Loan_Purpose,Debt_To_Income_Ratio,State,Home_Ownership,Monthly_Income,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length,data,lower_range,upper_range
0,25000.0,18.49,60 months,debt_consolidation,27.56,VA,MORTGAGE,8606.56,720-724,11.0,15210.0,3.0,5 years,train,720,724
1,19750.0,17.27,60 months,debt_consolidation,13.39,NY,MORTGAGE,6737.50,710-714,14.0,19070.0,3.0,4 years,train,710,714
2,2100.0,14.33,36 months,major_purchase,3.50,LA,OWN,1000.00,690-694,13.0,893.0,1.0,< 1 year,train,690,694
3,28000.0,16.29,36 months,credit_card,19.62,NV,MORTGAGE,7083.33,710-714,12.0,38194.0,1.0,10+ years,train,710,714
4,24250.0,12.23,60 months,credit_card,23.79,OH,MORTGAGE,5833.33,730-734,6.0,31061.0,2.0,10+ years,train,730,734

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 299
Data columns (total 16 columns):
Amount_Requested                  2495 non-null float64
Interest_Rate                     2200 non-null float64
Loan_Length                       2499 non-null object
Loan_Purpose                      2499 non-null object
Debt_To_Income_Ratio              2499 non-null float64
State                             2499 non-null object
Home_Ownership                    2499 non-null object
Monthly_Income                    2497 non-null float64
FICO_Range                        2500 non-null object
Open_CREDIT_Lines                 2491 non-null float64
Revolving_CREDIT_Balance          2495 non-null float64
Inquiries_in_the_Last_6_Months    2497 non-null float64
Employment_Length                 2422 non-null object
data                              2500 non-null object
lower_range                       2500 non-null int64
upper_range                       2500 non-null int64
dtypes: float64(7), int64(2), object(7)
memory usage: 332.0+ KB

In [115]:
df['FICO_Range']=(df['lower_range']+df['upper_range'])/2

In [116]:
df.head(2)

,Amount_Requested,Interest_Rate,Loan_Length,Loan_Purpose,Debt_To_Income_Ratio,State,Home_Ownership,Monthly_Income,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length,data,lower_range,upper_range
0,25000.0,18.49,60 months,debt_consolidation,27.56,VA,MORTGAGE,8606.56,722.0,11.0,15210.0,3.0,5 years,train,720,724
1,19750.0,17.27,60 months,debt_consolidation,13.39,NY,MORTGAGE,6737.50,712.0,14.0,19070.0,3.0,4 years,train,710,714

In [117]:
df.drop(['lower_range','upper_range'],axis=1,inplace=True)

In [118]:
df.head()

,Amount_Requested,Interest_Rate,Loan_Length,Loan_Purpose,Debt_To_Income_Ratio,State,Home_Ownership,Monthly_Income,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length,data
0,25000.0,18.49,60 months,debt_consolidation,27.56,VA,MORTGAGE,8606.56,722.0,11.0,15210.0,3.0,5 years,train
1,19750.0,17.27,60 months,debt_consolidation,13.39,NY,MORTGAGE,6737.50,712.0,14.0,19070.0,3.0,4 years,train
2,2100.0,14.33,36 months,major_purchase,3.50,LA,OWN,1000.00,692.0,13.0,893.0,1.0,< 1 year,train
3,28000.0,16.29,36 months,credit_card,19.62,NV,MORTGAGE,7083.33,712.0,12.0,38194.0,1.0,10+ years,train
4,24250.0,12.23,60 months,credit_card,23.79,OH,MORTGAGE,5833.33,732.0,6.0,31061.0,2.0,10+ years,train

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 299
Data columns (total 14 columns):
Amount_Requested                  2495 non-null float64
Interest_Rate                     2200 non-null float64
Loan_Length                       2499 non-null object
Loan_Purpose                      2499 non-null object
Debt_To_Income_Ratio              2499 non-null float64
State                             2499 non-null object
Home_Ownership                    2499 non-null object
Monthly_Income                    2497 non-null float64
FICO_Range                        2500 non-null float64
Open_CREDIT_Lines                 2491 non-null float64
Revolving_CREDIT_Balance          2495 non-null float64
Inquiries_in_the_Last_6_Months    2497 non-null float64
Employment_Length                 2422 non-null object
data                              2500 non-null object
dtypes: float64(8), object(6)
memory usage: 293.0+ KB

In [120]:
df['Employment_Length']=df['Employment_Length'].str.replace('years','')

In [121]:
df['Employment_Length'].value_counts()

10+         653
< 1 year    249
2           243
3           235
5           202
4           191
1 year      177
6           163
7           127
8           108
9            72
.             2
Name: Employment_Length, dtype: int64

In [122]:
df['Employment_Length']=df['Employment_Length'].str.replace('year','')

In [103]:
df['Employment_Length'].value_counts()

10+     653
< 1     249
2       243
3       235
5       202
4       191
1       177
6       163
7       127
8       108
9        72
.         2
Name: Employment_Length, dtype: int64

In [125]:
df['Employment_Length']=df['Employment_Length'].str.replace('< 1','0')
df['Employment_Length'].value_counts()

10+     653
0       249
2       243
3       235
5       202
4       191
1       177
6       163
7       127
8       108
9        72
.         2
Name: Employment_Length, dtype: int64

In [128]:
df['Employment_Length']=df['Employment_Length'].str.replace('.','NA')
df['Employment_Length'].value_counts()

10+     653
0       249
2       243
3       235
5       202
4       191
1       177
6       163
7       127
8       108
9        72
NA        2
Name: Employment_Length, dtype: int64

In [137]:
df['Employment_Length']=df['Employment_Length'].str.replace('+','')

In [138]:
df['Employment_Length'].value_counts()

10     653
0      249
2      243
3      235
5      202
4      191
1      177
6      163
7      127
8      108
9       72
NA       2
Name: Employment_Length, dtype: int64

In [139]:
df['Employment_Length'].replace('Na',np.nan)

0       5
1       4
2       0
3      10
4      10
5      NaN
6       2
7       0
8      NaN
9      NaN
10     10
11     10
12      8
13     NaN
14      4
15     10
16     10
17      0
18      1
19     NaN
20      1
21     10
22      4
23     10
24      4
25     10
26      8
27      4
28     10
29     10
      ...
270     4
271    10
272     1
273    10
274    10
275     0
276     4
277     6
278     0
279     5
280     9
281    10
282     4
283     5
284     2
285    10
286     0
287    10
288     9
289     3
290    NaN
291     4
292     3
293     3
294     8
295     7
296    10
297     6
298    10
299     2
Name: Employment_Length, Length: 2500, dtype: object

In [140]:
df['Employment_Length']=pd.to_numeric(df['Employment_Length'],errors='coerce')

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 299
Data columns (total 14 columns):
Amount_Requested                  2495 non-null float64
Interest_Rate                     2200 non-null float64
Loan_Length                       2499 non-null object
Loan_Purpose                      2499 non-null object
Debt_To_Income_Ratio              2499 non-null float64
State                             2499 non-null object
Home_Ownership                    2499 non-null object
Monthly_Income                    2497 non-null float64
FICO_Range                        2500 non-null float64
Open_CREDIT_Lines                 2491 non-null float64
Revolving_CREDIT_Balance          2495 non-null float64
Inquiries_in_the_Last_6_Months    2497 non-null float64
Employment_Length                 2420 non-null float64
data                              2500 non-null object
dtypes: float64(9), object(5)
memory usage: 293.0+ KB

In [256]:
# selecting all categorical columns into a separate object
df_obj=df.select_dtypes(include='object')
df_obj.drop('data',axis=1,inplace=True)
df_obj

    Loan_Length        Loan_Purpose State Home_Ownership
0     60 months  debt_consolidation    VA       MORTGAGE
1     60 months  debt_consolidation    NY       MORTGAGE
2     36 months      major_purchase    LA            OWN
3     36 months         credit_card    NV       MORTGAGE
4     60 months         credit_card    OH       MORTGAGE
5     36 months      small_business    OH           RENT
6     60 months         credit_card    CA           RENT
7     36 months      major_purchase    IL           RENT
8     60 months    home_improvement    NC       MORTGAGE
9     36 months               other    NC       MORTGAGE
10    36 months  debt_consolidation    CA           RENT
11    60 months    home_improvement    OH       MORTGAGE
12    36 months  debt_consolidation    NJ           RENT
13    36 months               other    CA       MORTGAGE
14    60 months  debt_consolidation    WA       MORTGAGE
15    60 months  debt_consolidation    NC       MORTGAGE
16    60 months  debt_consolidation    CT           RENT
17    36 months         credit_card    AK           RENT
18    36 months               other    NY           RENT
19    36 months               other    CO       MORTGAGE
20    36 months  debt_consolidation    IL           RENT
21    36 months         credit_card    NJ           RENT
22    60 months         credit_card    MA           RENT
23    36 months  debt_consolidation    CA           RENT
24    36 months                 car    TX           RENT
25    60 months  debt_consolidation    NC       MORTGAGE
26    60 months              moving    VT           RENT
27    36 months  debt_consolidation    NY           RENT
28    36 months    home_improvement    OK       MORTGAGE
29    36 months         credit_card    NJ           RENT
..          ...                 ...   ...            ...
270   36 months  debt_consolidation    CA           RENT
271   60 months    home_improvement    MD            OWN
272   36 months                 car    CA           RENT
273   36 months      small_business    IL       MORTGAGE
274   36 months    home_improvement    MN       MORTGAGE
275   36 months  debt_consolidation    NY           RENT
276   36 months  debt_consolidation    CA           RENT
277   36 months      major_purchase    IL           RENT
278   36 months  debt_consolidation    NY            OWN
279   36 months         credit_card    UT       MORTGAGE
280   36 months  debt_consolidation    MO       MORTGAGE
281   60 months  debt_consolidation    WV       MORTGAGE
282   36 months  debt_consolidation    FL       MORTGAGE
283   36 months  debt_consolidation    SC           RENT
284   36 months  debt_consolidation    AZ           RENT
285   36 months    home_improvement    MD       MORTGAGE
286   36 months         credit_card    CA           RENT
287   36 months               other    NY           RENT
288   36 months         credit_card    MN           RENT
289   36 months               other    RI           RENT
290   36 months  debt_consolidation    WV            OWN
291   60 months  debt_consolidation    CA       MORTGAGE
292   36 months    home_improvement    MD            OWN
293   36 months      major_purchase    CT           RENT
294   36 months         credit_card    OH       MORTGAGE
295   60 months    home_improvement    NV       MORTGAGE
296   36 months  debt_consolidation    CA            OWN
297   36 months         credit_card    CA           RENT
298   60 months         credit_card    MN           RENT
299   36 months  debt_consolidation    IL       MORTGAGE

[2500 rows x 4 columns]

In [257]:
# creating dummies for object excluding 'data' column
df_new=df.copy()
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 299
Data columns (total 14 columns):
Amount_Requested                  2495 non-null float64
Interest_Rate                     2200 non-null float64
Loan_Length                       2499 non-null object
Loan_Purpose                      2499 non-null object
Debt_To_Income_Ratio              2499 non-null float64
State                             2499 non-null object
Home_Ownership                    2499 non-null object
Monthly_Income                    2497 non-null float64
FICO_Range                        2500 non-null float64
Open_CREDIT_Lines                 2491 non-null float64
Revolving_CREDIT_Balance          2495 non-null float64
Inquiries_in_the_Last_6_Months    2497 non-null float64
Employment_Length                 2420 non-null float64
data                              2500 non-null object
dtypes: float64(9), object(5)
memory usage: 293.0+ KB

In [207]:
df_obj['Loan_Length'].value_counts()

36 months    1950
60 months     548
.               1
Name: Loan_Length, dtype: int64

In [148]:
df_obj['Loan_Purpose'].value_counts()

debt_consolidation    1307
credit_card            444
other                  200
home_improvement       152
major_purchase         101
small_business          87
car                     50
wedding                 39
medical                 30
moving                  29
vacation                21
house                   20
educational             15
renewable_energy         4
Name: Loan_Purpose, dtype: int64

In [149]:
df_obj['State'].value_counts()

CA    433
NY    255
TX    174
FL    169
IL    101
GA     97
PA     96
NJ     94
VA     78
MA     73
OH     71
MD     68
NC     64
CO     61
WA     58
CT     50
AZ     46
MI     45
AL     38
MN     38
MO     33
NV     32
OR     30
SC     28
WI     26
KY     23
LA     22
KS     21
OK     21
UT     16
NH     15
RI     15
WV     14
AR     13
NM     13
HI     12
DC     11
AK     11
DE      8
MT      7
VT      5
WY      4
SD      4
IN      3
.       1
MS      1
IA      1
Name: State, dtype: int64

In [238]:
df_new['State'].replace('.',np.nan)

0      VA
1      NY
2      LA
3      NV
4      OH
5      OH
6      CA
7      IL
8      NC
9      NC
10     CA
11     OH
12     NJ
13     CA
14     WA
15     NC
16     CT
17     AK
18     NY
19     CO
20     IL
21     NJ
22     MA
23     CA
24     TX
25     NC
26     VT
27     NY
28     OK
29     NJ
       ..
270    CA
271    MD
272    CA
273    IL
274    MN
275    NY
276    CA
277    IL
278    NY
279    UT
280    MO
281    WV
282    FL
283    SC
284    AZ
285    MD
286    CA
287    NY
288    MN
289    RI
290    WV
291    CA
292    MD
293    CT
294    OH
295    NV
296    CA
297    CA
298    MN
299    IL
Name: State, Length: 2500, dtype: object

In [150]:
df_obj['Home_Ownership'].value_counts()

MORTGAGE    1147
RENT        1146
OWN          200
OTHER          5
NONE           1
Name: Home_Ownership, dtype: int64

In [152]:
df_obj.columns

Index(['Loan_Length', 'Loan_Purpose', 'State', 'Home_Ownership', 'data'], dtype='object')

In [244]:
df_new=pd.get_dummies(data=df_new,prefix=['Loan_Length','Loan_Purpose', 'State', 'Home_Ownership'],columns=['Loan_Length','Loan_Purpose', 'State', 'Home_Ownership'],drop_first=True)

In [245]:
df_new.columns

Index(['Amount_Requested', 'Interest_Rate', 'Debt_To_Income_Ratio',
       'Monthly_Income', 'FICO_Range', 'Open_CREDIT_Lines',
       'Revolving_CREDIT_Balance', 'Inquiries_in_the_Last_6_Months',
       'Employment_Length', 'data', 'Loan_Length_36 months',
       'Loan_Length_60 months', 'Loan_Purpose_credit_card',
       'Loan_Purpose_debt_consolidation', 'Loan_Purpose_educational',
       'Loan_Purpose_home_improvement', 'Loan_Purpose_house',
       'Loan_Purpose_major_purchase', 'Loan_Purpose_medical',
       'Loan_Purpose_moving', 'Loan_Purpose_other',
       'Loan_Purpose_renewable_energy', 'Loan_Purpose_small_business',
       'Loan_Purpose_vacation', 'Loan_Purpose_wedding', 'State_AK', 'State_AL',
       'State_AR', 'State_AZ', 'State_CA', 'State_CO', 'State_CT', 'State_DC',
       'State_DE', 'State_FL', 'State_GA', 'State_HI', 'State_IA', 'State_IL',
       'State_IN', 'State_KS', 'State_KY', 'State_LA', 'State_MA', 'State_MD',
       'State_MI', 'State_MN', 'State_MO', 'State_MS', 'State_MT', 'State_NC',
       'State_NH', 'State_NJ', 'State_NM', 'State_NV', 'State_NY', 'State_OH',
       'State_OK', 'State_OR', 'State_PA', 'State_RI', 'State_SC', 'State_SD',
       'State_TX', 'State_UT', 'State_VA', 'State_VT', 'State_WA', 'State_WI',
       'State_WV', 'State_WY', 'Home_Ownership_NONE', 'Home_Ownership_OTHER',
       'Home_Ownership_OWN', 'Home_Ownership_RENT'],
      dtype='object')

In [246]:
df_new.shape

(2500, 75)

In [214]:
df_new.drop(['Loan_Length_.','State_.'],axis=1,inplace=True)

In [215]:
df_new.head()

,Amount_Requested,Interest_Rate,Debt_To_Income_Ratio,Monthly_Income,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length,data,...,State_VT,State_WA,State_WI,State_WV,State_WY,Home_Ownership_MORTGAGE,Home_Ownership_NONE,Home_Ownership_OTHER,Home_Ownership_OWN,Home_Ownership_RENT
0,25000.0,18.49,27.56,8606.56,722.0,11.0,15210.0,3.0,5.0,train,...,0,0,0,0,0,1,0,0,0,0
1,19750.0,17.27,13.39,6737.50,712.0,14.0,19070.0,3.0,4.0,train,...,0,0,0,0,0,1,0,0,0,0
2,2100.0,14.33,3.50,1000.00,692.0,13.0,893.0,1.0,0.0,train,...,0,0,0,0,0,0,0,0,1,0
3,28000.0,16.29,19.62,7083.33,712.0,12.0,38194.0,1.0,10.0,train,...,0,0,0,0,0,1,0,0,0,0
4,24250.0,12.23,23.79,5833.33,732.0,6.0,31061.0,2.0,10.0,train,...,0,0,0,0,0,1,0,0,0,0

In [216]:
df_new['Home_Ownership_NONE'].value_counts()

0    2499
1       1
Name: Home_Ownership_NONE, dtype: int64

In [218]:
df1=df_new.copy()
df1.columns
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 299
Data columns (total 77 columns):
Amount_Requested                   2495 non-null float64
Interest_Rate                      2200 non-null float64
Debt_To_Income_Ratio               2499 non-null float64
Monthly_Income                     2497 non-null float64
FICO_Range                         2500 non-null float64
Open_CREDIT_Lines                  2491 non-null float64
Revolving_CREDIT_Balance           2495 non-null float64
Inquiries_in_the_Last_6_Months     2497 non-null float64
Employment_Length                  2420 non-null float64
data                               2500 non-null object
Loan_Length_36 months              2500 non-null uint8
Loan_Length_60 months              2500 non-null uint8
Loan_Purpose_car                   2500 non-null uint8
Loan_Purpose_credit_card           2500 non-null uint8
Loan_Purpose_debt_consolidation    2500 non-null uint8
Loan_Purpose_educational           2500 non-null uint8
Loan_Purpose_home_improvement      2500 non-null uint8
Loan_Purpose_house                 2500 non-null uint8
Loan_Purpose_major_purchase        2500 non-null uint8
Loan_Purpose_medical               2500 non-null uint8
Loan_Purpose_moving                2500 non-null uint8
Loan_Purpose_other                 2500 non-null uint8
Loan_Purpose_renewable_energy      2500 non-null uint8
Loan_Purpose_small_business        2500 non-null uint8
Loan_Purpose_vacation              2500 non-null uint8
Loan_Purpose_wedding               2500 non-null uint8
State_AK                           2500 non-null uint8
State_AL                           2500 non-null uint8
State_AR                           2500 non-null uint8
State_AZ                           2500 non-null uint8
State_CA                           2500 non-null uint8
State_CO                           2500 non-null uint8
State_CT                           2500 non-null uint8
State_DC                           2500 non-null uint8
State_DE                           2500 non-null uint8
State_FL                           2500 non-null uint8
State_GA                           2500 non-null uint8
State_HI                           2500 non-null uint8
State_IA                           2500 non-null uint8
State_IL                           2500 non-null uint8
State_IN                           2500 non-null uint8
State_KS                           2500 non-null uint8
State_KY                           2500 non-null uint8
State_LA                           2500 non-null uint8
State_MA                           2500 non-null uint8
State_MD                           2500 non-null uint8
State_MI                           2500 non-null uint8
State_MN                           2500 non-null uint8
State_MO                           2500 non-null uint8
State_MS                           2500 non-null uint8
State_MT                           2500 non-null uint8
State_NC                           2500 non-null uint8
State_NH                           2500 non-null uint8
State_NJ                           2500 non-null uint8
State_NM                           2500 non-null uint8
State_NV                           2500 non-null uint8
State_NY                           2500 non-null uint8
State_OH                           2500 non-null uint8
State_OK                           2500 non-null uint8
State_OR                           2500 non-null uint8
State_PA                           2500 non-null uint8
State_RI                           2500 non-null uint8
State_SC                           2500 non-null uint8
State_SD                           2500 non-null uint8
State_TX                           2500 non-null uint8
State_UT                           2500 non-null uint8
State_VA                           2500 non-null uint8
State_VT                           2500 non-null uint8
State_WA                           2500 non-null uint8
State_WI                           2500 non-null uint8
State_WV                           2500 non-null uint8
State_WY                           2500 non-null uint8
Home_Ownership_MORTGAGE            2500 non-null uint8
Home_Ownership_NONE                2500 non-null uint8
Home_Ownership_OTHER               2500 non-null uint8
Home_Ownership_OWN                 2500 non-null uint8
Home_Ownership_RENT                2500 non-null uint8
dtypes: float64(9), object(1), uint8(67)
memory usage: 378.4+ KB

UT     16
NH     15
RI     15
WV     14
AR     13
NM     13
HI     12
DC     11
AK     11
DE      8
MT      7
VT      5
WY      4
SD      4
IN      3
.       1
MS      1
IA      1

In [219]:
df1.drop(['State_UT','State_NH','State_RI','State_WV','State_AR','State_NM','State_HI'
         ,'State_DC','State_AK','State_DE','State_MT','State_VT','State_WY','State_SD'
         ,'State_IN','State_MS','State_IA'],axis=1,inplace=True)

In [220]:
df1.columns

Index(['Amount_Requested', 'Interest_Rate', 'Debt_To_Income_Ratio',
       'Monthly_Income', 'FICO_Range', 'Open_CREDIT_Lines',
       'Revolving_CREDIT_Balance', 'Inquiries_in_the_Last_6_Months',
       'Employment_Length', 'data', 'Loan_Length_36 months',
       'Loan_Length_60 months', 'Loan_Purpose_car', 'Loan_Purpose_credit_card',
       'Loan_Purpose_debt_consolidation', 'Loan_Purpose_educational',
       'Loan_Purpose_home_improvement', 'Loan_Purpose_house',
       'Loan_Purpose_major_purchase', 'Loan_Purpose_medical',
       'Loan_Purpose_moving', 'Loan_Purpose_other',
       'Loan_Purpose_renewable_energy', 'Loan_Purpose_small_business',
       'Loan_Purpose_vacation', 'Loan_Purpose_wedding', 'State_AL', 'State_AZ',
       'State_CA', 'State_CO', 'State_CT', 'State_FL', 'State_GA', 'State_IL',
       'State_KS', 'State_KY', 'State_LA', 'State_MA', 'State_MD', 'State_MI',
       'State_MN', 'State_MO', 'State_NC', 'State_NJ', 'State_NV', 'State_NY',
       'State_OH', 'State_OK', 'State_OR', 'State_PA', 'State_SC', 'State_TX',
       'State_VA', 'State_WA', 'State_WI', 'Home_Ownership_MORTGAGE',
       'Home_Ownership_NONE', 'Home_Ownership_OTHER', 'Home_Ownership_OWN',
       'Home_Ownership_RENT'],
      dtype='object')

In [221]:
# educational             15
# renewable_energy         4
df1.drop(['Loan_Purpose_educational','Loan_Purpose_renewable_energy'],axis=1,inplace=True)

In [222]:
df1.columns

Index(['Amount_Requested', 'Interest_Rate', 'Debt_To_Income_Ratio',
       'Monthly_Income', 'FICO_Range', 'Open_CREDIT_Lines',
       'Revolving_CREDIT_Balance', 'Inquiries_in_the_Last_6_Months',
       'Employment_Length', 'data', 'Loan_Length_36 months',
       'Loan_Length_60 months', 'Loan_Purpose_car', 'Loan_Purpose_credit_card',
       'Loan_Purpose_debt_consolidation', 'Loan_Purpose_home_improvement',
       'Loan_Purpose_house', 'Loan_Purpose_major_purchase',
       'Loan_Purpose_medical', 'Loan_Purpose_moving', 'Loan_Purpose_other',
       'Loan_Purpose_small_business', 'Loan_Purpose_vacation',
       'Loan_Purpose_wedding', 'State_AL', 'State_AZ', 'State_CA', 'State_CO',
       'State_CT', 'State_FL', 'State_GA', 'State_IL', 'State_KS', 'State_KY',
       'State_LA', 'State_MA', 'State_MD', 'State_MI', 'State_MN', 'State_MO',
       'State_NC', 'State_NJ', 'State_NV', 'State_NY', 'State_OH', 'State_OK',
       'State_OR', 'State_PA', 'State_SC', 'State_TX', 'State_VA', 'State_WA',
       'State_WI', 'Home_Ownership_MORTGAGE', 'Home_Ownership_NONE',
       'Home_Ownership_OTHER', 'Home_Ownership_OWN', 'Home_Ownership_RENT'],
      dtype='object')

In [223]:
# OTHER          5
# NONE           1
df1.drop(['Home_Ownership_NONE','Home_Ownership_OTHER'],axis=1,inplace=True)

In [224]:
df1.columns

Index(['Amount_Requested', 'Interest_Rate', 'Debt_To_Income_Ratio',
       'Monthly_Income', 'FICO_Range', 'Open_CREDIT_Lines',
       'Revolving_CREDIT_Balance', 'Inquiries_in_the_Last_6_Months',
       'Employment_Length', 'data', 'Loan_Length_36 months',
       'Loan_Length_60 months', 'Loan_Purpose_car', 'Loan_Purpose_credit_card',
       'Loan_Purpose_debt_consolidation', 'Loan_Purpose_home_improvement',
       'Loan_Purpose_house', 'Loan_Purpose_major_purchase',
       'Loan_Purpose_medical', 'Loan_Purpose_moving', 'Loan_Purpose_other',
       'Loan_Purpose_small_business', 'Loan_Purpose_vacation',
       'Loan_Purpose_wedding', 'State_AL', 'State_AZ', 'State_CA', 'State_CO',
       'State_CT', 'State_FL', 'State_GA', 'State_IL', 'State_KS', 'State_KY',
       'State_LA', 'State_MA', 'State_MD', 'State_MI', 'State_MN', 'State_MO',
       'State_NC', 'State_NJ', 'State_NV', 'State_NY', 'State_OH', 'State_OK',
       'State_OR', 'State_PA', 'State_SC', 'State_TX', 'State_VA', 'State_WA',
       'State_WI', 'Home_Ownership_MORTGAGE', 'Home_Ownership_OWN',
       'Home_Ownership_RENT'],
      dtype='object')

In [225]:
df1.shape

(2500, 56)

In [226]:
df_train=df1[df1['data']=='train']

In [227]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 299
Data columns (total 56 columns):
Amount_Requested                   2495 non-null float64
Interest_Rate                      2200 non-null float64
Debt_To_Income_Ratio               2499 non-null float64
Monthly_Income                     2497 non-null float64
FICO_Range                         2500 non-null float64
Open_CREDIT_Lines                  2491 non-null float64
Revolving_CREDIT_Balance           2495 non-null float64
Inquiries_in_the_Last_6_Months     2497 non-null float64
Employment_Length                  2420 non-null float64
data                               2500 non-null object
Loan_Length_36 months              2500 non-null uint8
Loan_Length_60 months              2500 non-null uint8
Loan_Purpose_car                   2500 non-null uint8
Loan_Purpose_credit_card           2500 non-null uint8
Loan_Purpose_debt_consolidation    2500 non-null uint8
Loan_Purpose_home_improvement      2500 non-null uint8
Loan_Purpose_house                 2500 non-null uint8
Loan_Purpose_major_purchase        2500 non-null uint8
Loan_Purpose_medical               2500 non-null uint8
Loan_Purpose_moving                2500 non-null uint8
Loan_Purpose_other                 2500 non-null uint8
Loan_Purpose_small_business        2500 non-null uint8
Loan_Purpose_vacation              2500 non-null uint8
Loan_Purpose_wedding               2500 non-null uint8
State_AL                           2500 non-null uint8
State_AZ                           2500 non-null uint8
State_CA                           2500 non-null uint8
State_CO                           2500 non-null uint8
State_CT                           2500 non-null uint8
State_FL                           2500 non-null uint8
State_GA                           2500 non-null uint8
State_IL                           2500 non-null uint8
State_KS                           2500 non-null uint8
State_KY                           2500 non-null uint8
State_LA                           2500 non-null uint8
State_MA                           2500 non-null uint8
State_MD                           2500 non-null uint8
State_MI                           2500 non-null uint8
State_MN                           2500 non-null uint8
State_MO                           2500 non-null uint8
State_NC                           2500 non-null uint8
State_NJ                           2500 non-null uint8
State_NV                           2500 non-null uint8
State_NY                           2500 non-null uint8
State_OH                           2500 non-null uint8
State_OK                           2500 non-null uint8
State_OR                           2500 non-null uint8
State_PA                           2500 non-null uint8
State_SC                           2500 non-null uint8
State_TX                           2500 non-null uint8
State_VA                           2500 non-null uint8
State_WA                           2500 non-null uint8
State_WI                           2500 non-null uint8
Home_Ownership_MORTGAGE            2500 non-null uint8
Home_Ownership_OWN                 2500 non-null uint8
Home_Ownership_RENT                2500 non-null uint8
dtypes: float64(9), object(1), uint8(46)
memory usage: 327.1+ KB

# missing value treatment

In [190]:
m=df1.select_dtypes(exclude="object")
m.isnull().sum()

Interest_Rate                      300
Debt_To_Income_Ratio                 1
Monthly_Income                       3
FICO_Range                           0
Open_CREDIT_Lines                    9
Revolving_CREDIT_Balance             5
Inquiries_in_the_Last_6_Months       3
Employment_Length                   80
Loan_Length_36 months                0
Loan_Length_60 months                0
Loan_Purpose_car                     0
Loan_Purpose_credit_card             0
Loan_Purpose_debt_consolidation      0
Loan_Purpose_home_improvement        0
Loan_Purpose_house                   0
Loan_Purpose_major_purchase          0
Loan_Purpose_medical                 0
Loan_Purpose_moving                  0
Loan_Purpose_other                   0
Loan_Purpose_small_business          0
Loan_Purpose_vacation                0
Loan_Purpose_wedding                 0
State_AL                             0
State_AZ                             0
State_CA                             0
State_CO                             0
State_CT                             0
State_FL                             0
State_GA                             0
State_IL                             0
State_KS                             0
State_KY                             0
State_LA                             0
State_MA                             0
State_MD                             0
State_MI                             0
State_MN                             0
State_MO                             0
State_NC                             0
State_NJ                             0
State_NV                             0
State_NY                             0
State_OH                             0
State_OK                             0
State_OR                             0
State_PA                             0
State_SC                             0
State_TX                             0
State_VA                             0
State_WA                             0
State_WI                             0
Home_Ownership_MORTGAGE              0
Home_Ownership_OWN                   0
Home_Ownership_RENT                  0
dtype: int64

In [263]:
df1['Amount_Requested'].fillna(np.mean,inplace=True)

In [228]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 299
Data columns (total 56 columns):
Amount_Requested                   2495 non-null float64
Interest_Rate                      2200 non-null float64
Debt_To_Income_Ratio               2499 non-null float64
Monthly_Income                     2497 non-null float64
FICO_Range                         2500 non-null float64
Open_CREDIT_Lines                  2491 non-null float64
Revolving_CREDIT_Balance           2495 non-null float64
Inquiries_in_the_Last_6_Months     2497 non-null float64
Employment_Length                  2420 non-null float64
data                               2500 non-null object
Loan_Length_36 months              2500 non-null uint8
Loan_Length_60 months              2500 non-null uint8
Loan_Purpose_car                   2500 non-null uint8
Loan_Purpose_credit_card           2500 non-null uint8
Loan_Purpose_debt_consolidation    2500 non-null uint8
Loan_Purpose_home_improvement      2500 non-null uint8
Loan_Purpose_house                 2500 non-null uint8
Loan_Purpose_major_purchase        2500 non-null uint8
Loan_Purpose_medical               2500 non-null uint8
Loan_Purpose_moving                2500 non-null uint8
Loan_Purpose_other                 2500 non-null uint8
Loan_Purpose_small_business        2500 non-null uint8
Loan_Purpose_vacation              2500 non-null uint8
Loan_Purpose_wedding               2500 non-null uint8
State_AL                           2500 non-null uint8
State_AZ                           2500 non-null uint8
State_CA                           2500 non-null uint8
State_CO                           2500 non-null uint8
State_CT                           2500 non-null uint8
State_FL                           2500 non-null uint8
State_GA                           2500 non-null uint8
State_IL                           2500 non-null uint8
State_KS                           2500 non-null uint8
State_KY                           2500 non-null uint8
State_LA                           2500 non-null uint8
State_MA                           2500 non-null uint8
State_MD                           2500 non-null uint8
State_MI                           2500 non-null uint8
State_MN                           2500 non-null uint8
State_MO                           2500 non-null uint8
State_NC                           2500 non-null uint8
State_NJ                           2500 non-null uint8
State_NV                           2500 non-null uint8
State_NY                           2500 non-null uint8
State_OH                           2500 non-null uint8
State_OK                           2500 non-null uint8
State_OR                           2500 non-null uint8
State_PA                           2500 non-null uint8
State_SC                           2500 non-null uint8
State_TX                           2500 non-null uint8
State_VA                           2500 non-null uint8
State_WA                           2500 non-null uint8
State_WI                           2500 non-null uint8
Home_Ownership_MORTGAGE            2500 non-null uint8
Home_Ownership_OWN                 2500 non-null uint8
Home_Ownership_RENT                2500 non-null uint8
dtypes: float64(9), object(1), uint8(46)
memory usage: 327.1+ KB

In [229]:
df1[df1['data']=='train']['Interest_Rate'].isnull().sum()

0

In [230]:
df1.head()

,Amount_Requested,Interest_Rate,Debt_To_Income_Ratio,Monthly_Income,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length,data,...,State_OR,State_PA,State_SC,State_TX,State_VA,State_WA,State_WI,Home_Ownership_MORTGAGE,Home_Ownership_OWN,Home_Ownership_RENT
0,25000.0,18.49,27.56,8606.56,722.0,11.0,15210.0,3.0,5.0,train,...,0,0,0,0,1,0,0,1,0,0
1,19750.0,17.27,13.39,6737.50,712.0,14.0,19070.0,3.0,4.0,train,...,0,0,0,0,0,0,0,1,0,0
2,2100.0,14.33,3.50,1000.00,692.0,13.0,893.0,1.0,0.0,train,...,0,0,0,0,0,0,0,0,1,0
3,28000.0,16.29,19.62,7083.33,712.0,12.0,38194.0,1.0,10.0,train,...,0,0,0,0,0,0,0,1,0,0
4,24250.0,12.23,23.79,5833.33,732.0,6.0,31061.0,2.0,10.0,train,...,0,0,0,0,0,0,0,1,0,0

In [231]:
df1['Debt_To_Income_Ratio'].fillna(np.mean,inplace=True)

In [232]:
df1['Monthly_Income'].fillna(np.mean,inplace=True)

In [233]:
c=['Open_CREDIT_Lines',
       'Revolving_CREDIT_Balance', 'Inquiries_in_the_Last_6_Months']
for i in c:
    df1[i].fillna(np.mean,inplace=True)

UT     16
NH     15
RI     15
WV     14
AR     13
NM     13
HI     12
DC     11
AK     11
DE      8
MT      7
VT      5
WY      4
SD      4
IN      3
.       1
MS      1
IA      1

In [234]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 299
Data columns (total 56 columns):
Amount_Requested                   2495 non-null float64
Interest_Rate                      2200 non-null float64
Debt_To_Income_Ratio               2500 non-null object
Monthly_Income                     2500 non-null object
FICO_Range                         2500 non-null float64
Open_CREDIT_Lines                  2500 non-null object
Revolving_CREDIT_Balance           2500 non-null object
Inquiries_in_the_Last_6_Months     2500 non-null object
Employment_Length                  2420 non-null float64
data                               2500 non-null object
Loan_Length_36 months              2500 non-null uint8
Loan_Length_60 months              2500 non-null uint8
Loan_Purpose_car                   2500 non-null uint8
Loan_Purpose_credit_card           2500 non-null uint8
Loan_Purpose_debt_consolidation    2500 non-null uint8
Loan_Purpose_home_improvement      2500 non-null uint8
Loan_Purpose_house                 2500 non-null uint8
Loan_Purpose_major_purchase        2500 non-null uint8
Loan_Purpose_medical               2500 non-null uint8
Loan_Purpose_moving                2500 non-null uint8
Loan_Purpose_other                 2500 non-null uint8
Loan_Purpose_small_business        2500 non-null uint8
Loan_Purpose_vacation              2500 non-null uint8
Loan_Purpose_wedding               2500 non-null uint8
State_AL                           2500 non-null uint8
State_AZ                           2500 non-null uint8
State_CA                           2500 non-null uint8
State_CO                           2500 non-null uint8
State_CT                           2500 non-null uint8
State_FL                           2500 non-null uint8
State_GA                           2500 non-null uint8
State_IL                           2500 non-null uint8
State_KS                           2500 non-null uint8
State_KY                           2500 non-null uint8
State_LA                           2500 non-null uint8
State_MA                           2500 non-null uint8
State_MD                           2500 non-null uint8
State_MI                           2500 non-null uint8
State_MN                           2500 non-null uint8
State_MO                           2500 non-null uint8
State_NC                           2500 non-null uint8
State_NJ                           2500 non-null uint8
State_NV                           2500 non-null uint8
State_NY                           2500 non-null uint8
State_OH                           2500 non-null uint8
State_OK                           2500 non-null uint8
State_OR                           2500 non-null uint8
State_PA                           2500 non-null uint8
State_SC                           2500 non-null uint8
State_TX                           2500 non-null uint8
State_VA                           2500 non-null uint8
State_WA                           2500 non-null uint8
State_WI                           2500 non-null uint8
Home_Ownership_MORTGAGE            2500 non-null uint8
Home_Ownership_OWN                 2500 non-null uint8
Home_Ownership_RENT                2500 non-null uint8
dtypes: float64(4), object(6), uint8(46)
memory usage: 327.1+ KB

In [235]:
df1.drop('Loan_Purpose_house',axis=1,inplace=True)

In [236]:
df1.shape

(2500, 55)

In [259]:
for col in df_obj:
    freqs=df_new[col].value_counts()
    k=freqs.index[freqs>20][:-1]
    for cat in k:
        name=col+'_'+cat
        df_new[name]=(df_new[col]==cat).astype(int)
    del df_new[col]
    print(col)

Loan_Length
Loan_Purpose
State
Home_Ownership

In [260]:
df_new.shape

(2500, 51)

In [261]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 299
Data columns (total 51 columns):
Amount_Requested                   2495 non-null float64
Interest_Rate                      2200 non-null float64
Debt_To_Income_Ratio               2499 non-null float64
Monthly_Income                     2497 non-null float64
FICO_Range                         2500 non-null float64
Open_CREDIT_Lines                  2491 non-null float64
Revolving_CREDIT_Balance           2495 non-null float64
Inquiries_in_the_Last_6_Months     2497 non-null float64
Employment_Length                  2420 non-null float64
data                               2500 non-null object
Loan_Length_36 months              2500 non-null int32
Loan_Purpose_debt_consolidation    2500 non-null int32
Loan_Purpose_credit_card           2500 non-null int32
Loan_Purpose_other                 2500 non-null int32
Loan_Purpose_home_improvement      2500 non-null int32
Loan_Purpose_major_purchase        2500 non-null int32
Loan_Purpose_small_business        2500 non-null int32
Loan_Purpose_car                   2500 non-null int32
Loan_Purpose_wedding               2500 non-null int32
Loan_Purpose_medical               2500 non-null int32
Loan_Purpose_moving                2500 non-null int32
State_CA                           2500 non-null int32
State_NY                           2500 non-null int32
State_TX                           2500 non-null int32
State_FL                           2500 non-null int32
State_IL                           2500 non-null int32
State_GA                           2500 non-null int32
State_PA                           2500 non-null int32
State_NJ                           2500 non-null int32
State_VA                           2500 non-null int32
State_MA                           2500 non-null int32
State_OH                           2500 non-null int32
State_MD                           2500 non-null int32
State_NC                           2500 non-null int32
State_CO                           2500 non-null int32
State_WA                           2500 non-null int32
State_CT                           2500 non-null int32
State_AZ                           2500 non-null int32
State_MI                           2500 non-null int32
State_AL                           2500 non-null int32
State_MN                           2500 non-null int32
State_MO                           2500 non-null int32
State_NV                           2500 non-null int32
State_OR                           2500 non-null int32
State_SC                           2500 non-null int32
State_WI                           2500 non-null int32
State_KY                           2500 non-null int32
State_LA                           2500 non-null int32
State_KS                           2500 non-null int32
Home_Ownership_MORTGAGE            2500 non-null int32
Home_Ownership_RENT                2500 non-null int32
dtypes: float64(9), int32(41), object(1)
memory usage: 615.2+ KB

In [265]:
df1=df_new.copy()

In [266]:
mean=df1[df1['data']=='train'].mean()

In [267]:
mean

Amount_Requested                   12496.469248
Interest_Rate                         13.051218
Debt_To_Income_Ratio                  15.371105
Monthly_Income                      5727.459290
FICO_Range                           708.084091
Open_CREDIT_Lines                     10.081623
Revolving_CREDIT_Balance           15335.575399
Inquiries_in_the_Last_6_Months         0.898498
Employment_Length                      5.364319
Loan_Length_36 months                  0.782727
Loan_Purpose_debt_consolidation        0.521364
Loan_Purpose_credit_card               0.179091
Loan_Purpose_other                     0.079091
Loan_Purpose_home_improvement          0.061364
Loan_Purpose_major_purchase            0.038182
Loan_Purpose_small_business            0.036364
Loan_Purpose_car                       0.020455
Loan_Purpose_wedding                   0.015909
Loan_Purpose_medical                   0.011818
Loan_Purpose_moving                    0.011364
State_CA                               0.170909
State_NY                               0.105000
State_TX                               0.066364
State_FL                               0.067727
State_IL                               0.039545
State_GA                               0.037273
State_PA                               0.040000
State_NJ                               0.036818
State_VA                               0.031818
State_MA                               0.029091
State_OH                               0.026818
State_MD                               0.026818
State_NC                               0.026818
State_CO                               0.024545
State_WA                               0.023636
State_CT                               0.020000
State_AZ                               0.020000
State_MI                               0.017273
State_AL                               0.015455
State_MN                               0.013636
State_MO                               0.013182
State_NV                               0.013182
State_OR                               0.011364
State_SC                               0.012273
State_WI                               0.011364
State_KY                               0.009091
State_LA                               0.009091
State_KS                               0.009545
Home_Ownership_MORTGAGE                0.462727
Home_Ownership_RENT                    0.454091
dtype: float64

In [269]:
df1.isnull().sum()

Amount_Requested                     5
Interest_Rate                      300
Debt_To_Income_Ratio                 1
Monthly_Income                       3
FICO_Range                           0
Open_CREDIT_Lines                    9
Revolving_CREDIT_Balance             5
Inquiries_in_the_Last_6_Months       3
Employment_Length                   80
data                                 0
Loan_Length_36 months                0
Loan_Purpose_debt_consolidation      0
Loan_Purpose_credit_card             0
Loan_Purpose_other                   0
Loan_Purpose_home_improvement        0
Loan_Purpose_major_purchase          0
Loan_Purpose_small_business          0
Loan_Purpose_car                     0
Loan_Purpose_wedding                 0
Loan_Purpose_medical                 0
Loan_Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_AL                             0
State_MN                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_KS                             0
Home_Ownership_MORTGAGE              0
Home_Ownership_RENT                  0
dtype: int64

In [268]:
df1.columns

Index(['Amount_Requested', 'Interest_Rate', 'Debt_To_Income_Ratio',
       'Monthly_Income', 'FICO_Range', 'Open_CREDIT_Lines',
       'Revolving_CREDIT_Balance', 'Inquiries_in_the_Last_6_Months',
       'Employment_Length', 'data', 'Loan_Length_36 months',
       'Loan_Purpose_debt_consolidation', 'Loan_Purpose_credit_card',
       'Loan_Purpose_other', 'Loan_Purpose_home_improvement',
       'Loan_Purpose_major_purchase', 'Loan_Purpose_small_business',
       'Loan_Purpose_car', 'Loan_Purpose_wedding', 'Loan_Purpose_medical',
       'Loan_Purpose_moving', 'State_CA', 'State_NY', 'State_TX', 'State_FL',
       'State_IL', 'State_GA', 'State_PA', 'State_NJ', 'State_VA', 'State_MA',
       'State_OH', 'State_MD', 'State_NC', 'State_CO', 'State_WA', 'State_CT',
       'State_AZ', 'State_MI', 'State_AL', 'State_MN', 'State_MO', 'State_NV',
       'State_OR', 'State_SC', 'State_WI', 'State_KY', 'State_LA', 'State_KS',
       'Home_Ownership_MORTGAGE', 'Home_Ownership_RENT'],
      dtype='object')

In [273]:
c=['Amount_Requested', 'Interest_Rate', 'Debt_To_Income_Ratio',
       'Monthly_Income','Open_CREDIT_Lines',
       'Revolving_CREDIT_Balance', 'Inquiries_in_the_Last_6_Months','Employment_Length']
for i in df1.columns:
    if (i not in ['Interest_Rate','data']) & (df1[i].isnull().sum() >0):
        df1.loc[df1[i].isnull(),i]=df1.loc[df1['data']=='train',i].mean()

In [274]:
df1.isnull().sum()

Amount_Requested                     0
Interest_Rate                      300
Debt_To_Income_Ratio                 0
Monthly_Income                       0
FICO_Range                           0
Open_CREDIT_Lines                    0
Revolving_CREDIT_Balance             0
Inquiries_in_the_Last_6_Months       0
Employment_Length                    0
data                                 0
Loan_Length_36 months                0
Loan_Purpose_debt_consolidation      0
Loan_Purpose_credit_card             0
Loan_Purpose_other                   0
Loan_Purpose_home_improvement        0
Loan_Purpose_major_purchase          0
Loan_Purpose_small_business          0
Loan_Purpose_car                     0
Loan_Purpose_wedding                 0
Loan_Purpose_medical                 0
Loan_Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_AL                             0
State_MN                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_KS                             0
Home_Ownership_MORTGAGE              0
Home_Ownership_RENT                  0
dtype: int64

In [275]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 299
Data columns (total 51 columns):
Amount_Requested                   2500 non-null float64
Interest_Rate                      2200 non-null float64
Debt_To_Income_Ratio               2500 non-null float64
Monthly_Income                     2500 non-null float64
FICO_Range                         2500 non-null float64
Open_CREDIT_Lines                  2500 non-null float64
Revolving_CREDIT_Balance           2500 non-null float64
Inquiries_in_the_Last_6_Months     2500 non-null float64
Employment_Length                  2500 non-null float64
data                               2500 non-null object
Loan_Length_36 months              2500 non-null int32
Loan_Purpose_debt_consolidation    2500 non-null int32
Loan_Purpose_credit_card           2500 non-null int32
Loan_Purpose_other                 2500 non-null int32
Loan_Purpose_home_improvement      2500 non-null int32
Loan_Purpose_major_purchase        2500 non-null int32
Loan_Purpose_small_business        2500 non-null int32
Loan_Purpose_car                   2500 non-null int32
Loan_Purpose_wedding               2500 non-null int32
Loan_Purpose_medical               2500 non-null int32
Loan_Purpose_moving                2500 non-null int32
State_CA                           2500 non-null int32
State_NY                           2500 non-null int32
State_TX                           2500 non-null int32
State_FL                           2500 non-null int32
State_IL                           2500 non-null int32
State_GA                           2500 non-null int32
State_PA                           2500 non-null int32
State_NJ                           2500 non-null int32
State_VA                           2500 non-null int32
State_MA                           2500 non-null int32
State_OH                           2500 non-null int32
State_MD                           2500 non-null int32
State_NC                           2500 non-null int32
State_CO                           2500 non-null int32
State_WA                           2500 non-null int32
State_CT                           2500 non-null int32
State_AZ                           2500 non-null int32
State_MI                           2500 non-null int32
State_AL                           2500 non-null int32
State_MN                           2500 non-null int32
State_MO                           2500 non-null int32
State_NV                           2500 non-null int32
State_OR                           2500 non-null int32
State_SC                           2500 non-null int32
State_WI                           2500 non-null int32
State_KY                           2500 non-null int32
State_LA                           2500 non-null int32
State_KS                           2500 non-null int32
Home_Ownership_MORTGAGE            2500 non-null int32
Home_Ownership_RENT                2500 non-null int32
dtypes: float64(9), int32(41), object(1)
memory usage: 615.2+ KB

In [276]:
df_train=df1[df1['data']=='train']

In [277]:
df_test=df1[df1['data']=='test']

# splitting the train dataset to train and test the model

In [316]:
X=df_train.drop(['Interest_Rate','data'],axis=1)

In [317]:
Y=df_train['Interest_Rate']

In [318]:
from sklearn.model_selection import train_test_split

In [319]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=100)

In [320]:
X_train.shape

(1540, 49)

In [321]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1540 entries, 261 to 1544
Data columns (total 49 columns):
Amount_Requested                   1540 non-null float64
Debt_To_Income_Ratio               1540 non-null float64
Monthly_Income                     1540 non-null float64
FICO_Range                         1540 non-null float64
Open_CREDIT_Lines                  1540 non-null float64
Revolving_CREDIT_Balance           1540 non-null float64
Inquiries_in_the_Last_6_Months     1540 non-null float64
Employment_Length                  1540 non-null float64
Loan_Length_36 months              1540 non-null int32
Loan_Purpose_debt_consolidation    1540 non-null int32
Loan_Purpose_credit_card           1540 non-null int32
Loan_Purpose_other                 1540 non-null int32
Loan_Purpose_home_improvement      1540 non-null int32
Loan_Purpose_major_purchase        1540 non-null int32
Loan_Purpose_small_business        1540 non-null int32
Loan_Purpose_car                   1540 non-null int32
Loan_Purpose_wedding               1540 non-null int32
Loan_Purpose_medical               1540 non-null int32
Loan_Purpose_moving                1540 non-null int32
State_CA                           1540 non-null int32
State_NY                           1540 non-null int32
State_TX                           1540 non-null int32
State_FL                           1540 non-null int32
State_IL                           1540 non-null int32
State_GA                           1540 non-null int32
State_PA                           1540 non-null int32
State_NJ                           1540 non-null int32
State_VA                           1540 non-null int32
State_MA                           1540 non-null int32
State_OH                           1540 non-null int32
State_MD                           1540 non-null int32
State_NC                           1540 non-null int32
State_CO                           1540 non-null int32
State_WA                           1540 non-null int32
State_CT                           1540 non-null int32
State_AZ                           1540 non-null int32
State_MI                           1540 non-null int32
State_AL                           1540 non-null int32
State_MN                           1540 non-null int32
State_MO                           1540 non-null int32
State_NV                           1540 non-null int32
State_OR                           1540 non-null int32
State_SC                           1540 non-null int32
State_WI                           1540 non-null int32
State_KY                           1540 non-null int32
State_LA                           1540 non-null int32
State_KS                           1540 non-null int32
Home_Ownership_MORTGAGE            1540 non-null int32
Home_Ownership_RENT                1540 non-null int32
dtypes: float64(8), int32(41)
memory usage: 354.9 KB

In [322]:
X_test.shape

(660, 49)

In [323]:
Y_train.shape

(1540,)

In [324]:
Y_test.shape

(660,)

# model building

In [325]:
from sklearn.linear_model import LinearRegression

In [326]:
lin_reg_loan=LinearRegression()

In [327]:
lin_reg_loan.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [329]:
import statsmodels.api as sm
X_con=sm.add_constant(X_train)
model=sm.OLS(Y_train,X_con).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          Interest_Rate   R-squared:                       0.760
Model:                            OLS   Adj. R-squared:                  0.752
Method:                 Least Squares   F-statistic:                     96.48
Date:                Thu, 05 Dec 2019   Prob (F-statistic):               0.00
Time:                        14:57:54   Log-Likelihood:                -3274.9
No. Observations:                1540   AIC:                             6650.
Df Residuals:                    1490   BIC:                             6917.
Df Model:                          49
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
const                              75.1058      1.265     59.394      0.000      72.625      77.586
Amount_Requested                    0.0002   8.61e-06     19.456      0.000       0.000       0.000
Debt_To_Income_Ratio                0.0038      0.008      0.454      0.650      -0.013       0.020
Monthly_Income                  -2.606e-05   1.43e-05     -1.823      0.069   -5.41e-05    1.99e-06
FICO_Range                         -0.0858      0.002    -52.888      0.000      -0.089      -0.083
Open_CREDIT_Lines                  -0.0312      0.014     -2.263      0.024      -0.058      -0.004
Revolving_CREDIT_Balance        -2.186e-06    3.1e-06     -0.705      0.481   -8.27e-06    3.89e-06
Inquiries_in_the_Last_6_Months      0.3367      0.047      7.185      0.000       0.245       0.429
Employment_Length                   0.0009      0.016      0.061      0.951      -0.030       0.031
Loan_Length_36 months              -3.0799      0.146    -21.098      0.000      -3.366      -2.794
Loan_Purpose_debt_consolidation    -0.8490      0.334     -2.546      0.011      -1.503      -0.195
Loan_Purpose_credit_card           -0.9088      0.348     -2.613      0.009      -1.591      -0.226
Loan_Purpose_other                  0.2000      0.375      0.533      0.594      -0.536       0.936
Loan_Purpose_home_improvement      -0.6397      0.389     -1.646      0.100      -1.402       0.123
Loan_Purpose_major_purchase        -0.4812      0.416     -1.156      0.248      -1.297       0.335
Loan_Purpose_small_business        -0.3148      0.432     -0.730      0.466      -1.161       0.532
Loan_Purpose_car                   -0.6267      0.498     -1.258      0.209      -1.604       0.350
Loan_Purpose_wedding               -1.1584      0.520     -2.230      0.026      -2.178      -0.139
Loan_Purpose_medical               -0.7421      0.611     -1.214      0.225      -1.942       0.457
Loan_Purpose_moving                 0.8432      0.609      1.386      0.166      -0.350       2.037
State_CA                           -0.1359      0.238     -0.571      0.568      -0.603       0.331
State_NY                           -0.1204      0.258     -0.466      0.641      -0.627       0.386
State_TX                            0.4292      0.285      1.509      0.132      -0.129       0.987
State_FL                            0.0484      0.280      0.173      0.863      -0.501       0.598
State_IL                           -0.5461      0.323     -1.689      0.092      -1.180       0.088
State_GA                            0.0542      0.332      0.163      0.870      -0.597       0.706
State_PA                           -0.3347      0.330     -1.013      0.311      -0.983       0.313
State_NJ                           -0.2573      0.350     -0.735      0.462      -0.944       0.429
State_VA                           -0.0513      0.353     -0.145      0.884      -0.744       0.641
State_MA                            0.0728      0.364      0.200      0.842      -0.642       0.788
State_OH                            0.1512      0.378      0.400      0.689      -0.590       0.892
State_MD                            0.2300      0.373      0.617      0.537      -0.501       0.961
State_NC                           -0.4532      0.398     -1.138      0.255      -1.234       0.328
State_CO                            0.4173      0.398      1.049      0.294      -0.363       1.197
State_WA                            0.1122      0.420      0.267      0.790      -0.713       0.937
State_CT                            0.6078      0.406      1.497      0.135      -0.189       1.404
State_AZ                            0.2004      0.426      0.470      0.638      -0.636       1.037
State_MI                           -0.2539      0.445     -0.571      0.568      -1.126       0.618
State_AL                            0.0975      0.461      0.211      0.833      -0.807       1.002
State_MN                           -0.5666      0.476     -1.191      0.234      -1.500       0.366
State_MO                           -0.0579      0.514     -0.113      0.910      -1.067       0.951
State_NV                           -0.3349      0.493     -0.679      0.497      -1.302       0.632
State_OR                           -0.0165      0.592     -0.028      0.978      -1.178       1.145
State_SC                            0.0437      0.514      0.085      0.932      -0.965       1.053
State_WI                            0.1230      0.504      0.244      0.807      -0.865       1.111
State_KY                            0.2662      0.571      0.466      0.641      -0.853       1.386
State_LA                            0.3359      0.591      0.568      0.570      -0.824       1.496
State_KS                            0.7431      0.587      1.266      0.206      -0.408       1.894
Home_Ownership_MORTGAGE            -0.2500      0.204     -1.228      0.220      -0.649       0.149
Home_Ownership_RENT                -0.0046      0.203     -0.023      0.982      -0.402       0.393
==============================================================================
Omnibus:                       61.823   Durbin-Watson:                   1.959
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               80.682
Skew:                           0.410   Prob(JB):                     3.02e-18
Kurtosis:                       3.765   Cond. No.                     7.20e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.2e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

# checking the assumptions

## no autocorrelation

from the DB value , 1.9, so there is no autocorrelation

## normality of residuals

In [332]:
from scipy.stats import stats
stats.jarque_bera(model.resid)
# since it is greater than 5, the normality of residuals is not there, so
# we go for transformation

(80.68161535160849, 0.0)

## linearity of residuals

In [333]:
sm.stats.diagnostic.linear_rainbow(model,frac=0.5)

(0.9901436221489854, 0.5540445537715626)

since p value is greater than 0.05 ,it fails to reject the null hypothesis , hence residuals are linear

## homoscadasticity

In [1]:
import statsmodels.stats.api as sms
sms.het_goldfeldquandt(model.resid,model.model.exog)

NameError: name 'model' is not defined

hence the model is homoscadastic

# base model accuracy on train and test

In [335]:
lin_reg_loan.score(X_train,Y_train)

0.7603485637375973

In [336]:
lin_reg_loan.score(X_test,Y_test)

0.7657854064329895

make sure the features are within 10 for any problem

Hence eventhough the model is a generalised model, we need to regularise

# regularisation techniques

In [338]:
from sklearn.linear_model import Ridge

In [339]:
rr=Ridge()

In [372]:
penalty=np.linspace(0.001,2,100)

In [341]:
from sklearn.model_selection import GridSearchCV

In [373]:
gcv=GridSearchCV(estimator=rr,param_grid=dict(alpha=penalty))

In [374]:
gcv.fit(X_train,Y_train)

C:\Users\SWETHA S\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=Ridge(alpha=20, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='warn', n_jobs=None,
             param_grid={'alpha': array([1.00000000e-03, 2.11919192e-02, 4.13838384e-02, 6.15757576e-02,
       8.17676768e-02, 1.01959596e-01, 1.22151515e-01, 1.42343434e...
       1.61635354e+00, 1.63654545e+00, 1.65673737e+00, 1.67692929e+00,
       1.69712121e+00, 1.71731313e+00, 1.73750505e+00, 1.75769697e+00,
       1.77788889e+00, 1.79808081e+00, 1.81827273e+00, 1.83846465e+00,
       1.85865657e+00, 1.87884848e+00, 1.89904040e+00, 1.91923232e+00,
       1.93942424e+00, 1.95961616e+00, 1.97980808e+00, 2.00000000e+00])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [375]:
gcv.best_estimator_

Ridge(alpha=2.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [376]:
rr=Ridge(alpha=2)

In [377]:
rr.fit(X_train,Y_train)

Ridge(alpha=2, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [380]:
rr.score(X_train,Y_train)

0.7602752916716953

In [381]:
rr.score(X_test,Y_test)

0.766359785352592

In [382]:
print(rr.coef_)

array([ 1.68001506e-04,  3.52895872e-03, -2.65410247e-05, -8.58144738e-02,
       -3.13202355e-02, -2.20794846e-06,  3.39158641e-01,  1.06863808e-03,
       -3.04989005e+00, -6.94965122e-01, -7.56354303e-01,  3.40998656e-01,
       -4.78291988e-01, -3.19632533e-01, -1.59176791e-01, -4.40271914e-01,
       -9.40967706e-01, -5.31868833e-01,  8.77345048e-01, -1.45193963e-01,
       -1.23040055e-01,  4.10492819e-01,  4.29989459e-02, -5.44744354e-01,
        4.97592161e-02, -3.31655257e-01, -2.50764692e-01, -5.35561613e-02,
        5.85235132e-02,  1.34204465e-01,  2.30669475e-01, -4.42467904e-01,
        3.82329549e-01,  1.01379098e-01,  5.58439793e-01,  1.83507317e-01,
       -2.40440967e-01,  8.88457688e-02, -5.33996395e-01, -6.34330868e-02,
       -3.05980563e-01, -2.05746482e-02,  2.88501315e-02,  1.02378409e-01,
        2.26422666e-01,  2.85260284e-01,  6.45296176e-01, -2.47243176e-01,
        1.06053098e-03])

from the coefficients, none of the coefficients become 0, hence we go for lasso regularisation

# lasso

In [383]:
from sklearn.linear_model import Lasso

In [387]:
l=Lasso(alpha=2)
l.fit(X_train,Y_train)

Lasso(alpha=2, copy_X=True, fit_intercept=True, max_iter=1000, normalize=False,
      positive=False, precompute=False, random_state=None, selection='cyclic',
      tol=0.0001, warm_start=False)

In [388]:
l.score(X_train,Y_train)

0.6568002554055797

In [389]:
l.score(X_test,Y_test)

0.6599319833135178

In [390]:
l.coef_

array([ 2.28725214e-04, -0.00000000e+00, -5.01130513e-05, -8.44361671e-02,
       -0.00000000e+00, -8.88505473e-06,  0.00000000e+00, -0.00000000e+00,
       -0.00000000e+00, -0.00000000e+00, -0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
       -0.00000000e+00, -0.00000000e+00,  0.00000000e+00, -0.00000000e+00,
        0.00000000e+00,  0.00000000e+00, -0.00000000e+00, -0.00000000e+00,
        0.00000000e+00, -0.00000000e+00, -0.00000000e+00,  0.00000000e+00,
       -0.00000000e+00,  0.00000000e+00,  0.00000000e+00, -0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
       -0.00000000e+00,  0.00000000e+00, -0.00000000e+00,  0.00000000e+00,
       -0.00000000e+00, -0.00000000e+00, -0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00, -0.00000000e+00,
        0.00000000e+00])

In [394]:
list(zip(X_train.columns,l.coef_))

[('Amount_Requested', 0.00022872521352640792),
 ('Debt_To_Income_Ratio', -0.0),
 ('Monthly_Income', -5.011305126186162e-05),
 ('FICO_Range', -0.08443616708833102),
 ('Open_CREDIT_Lines', -0.0),
 ('Revolving_CREDIT_Balance', -8.885054728847097e-06),
 ('Inquiries_in_the_Last_6_Months', 0.0),
 ('Employment_Length', -0.0),
 ('Loan_Length_36 months', -0.0),
 ('Loan_Purpose_debt_consolidation', -0.0),
 ('Loan_Purpose_credit_card', -0.0),
 ('Loan_Purpose_other', 0.0),
 ('Loan_Purpose_home_improvement', 0.0),
 ('Loan_Purpose_major_purchase', 0.0),
 ('Loan_Purpose_small_business', 0.0),
 ('Loan_Purpose_car', 0.0),
 ('Loan_Purpose_wedding', -0.0),
 ('Loan_Purpose_medical', -0.0),
 ('Loan_Purpose_moving', 0.0),
 ('State_CA', -0.0),
 ('State_NY', 0.0),
 ('State_TX', 0.0),
 ('State_FL', -0.0),
 ('State_IL', -0.0),
 ('State_GA', 0.0),
 ('State_PA', -0.0),
 ('State_NJ', -0.0),
 ('State_VA', 0.0),
 ('State_MA', -0.0),
 ('State_OH', 0.0),
 ('State_MD', 0.0),
 ('State_NC', -0.0),
 ('State_CO', 0.0),
 ('State_WA', 0.0),
 ('State_CT', 0.0),
 ('State_AZ', 0.0),
 ('State_MI', -0.0),
 ('State_AL', 0.0),
 ('State_MN', -0.0),
 ('State_MO', 0.0),
 ('State_NV', -0.0),
 ('State_OR', -0.0),
 ('State_SC', -0.0),
 ('State_WI', 0.0),
 ('State_KY', 0.0),
 ('State_LA', 0.0),
 ('State_KS', 0.0),
 ('Home_Ownership_MORTGAGE', -0.0),
 ('Home_Ownership_RENT', 0.0)]

In [395]:
X_new=X_train.loc[:,['Amount_Requested','Monthly_Income','FICO_Range','Revolving_CREDIT_Balance']]

In [396]:
X_new.head()

      Amount_Requested  Monthly_Income  FICO_Range  Revolving_CREDIT_Balance
261             8000.0         3166.67       692.0                    5428.0
2085           13200.0         3833.33       697.0                    8568.0
1296            7000.0         5833.33       687.0                   28985.0
1534           12000.0         3980.33       662.0                   19234.0
216            19750.0         8333.33       702.0                   11383.0

In [397]:
l1=LinearRegression()
l1.fit(X_new,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [400]:
l1.score(X_new,Y_train)

0.6569897896395379

In [401]:
X_new_test=X_test.loc[:,['Amount_Requested','Monthly_Income','FICO_Range','Revolving_CREDIT_Balance']]

In [402]:
l1.score(X_new_test,Y_test)

0.6609973073188706

In [404]:
X_test_act=df_test.loc[:,['Amount_Requested','Monthly_Income','FICO_Range','Revolving_CREDIT_Balance']]

In [407]:
fitted_values=l1.predict(X_test_act)

In [409]:
df_test['Interest_Rate']=fitted_values

C:\Users\SWETHA S\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [410]:
df_test.head()

,Amount_Requested,Interest_Rate,Debt_To_Income_Ratio,Monthly_Income,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length,data,...,State_MO,State_NV,State_OR,State_SC,State_WI,State_KY,State_LA,State_KS,Home_Ownership_MORTGAGE,Home_Ownership_RENT
0,5000.0,12.839306,12.59,4416.67,692.0,13.0,7686.0,0.0,0.0,test,...,0,0,0,0,0,0,0,0,0,1
1,18000.0,14.022571,4.93,5258.50,712.0,6.0,11596.0,0.0,10.0,test,...,0,0,0,0,0,0,0,0,0,1
2,7200.0,8.216038,25.16,3750.00,752.0,13.0,7283.0,0.0,6.0,test,...,0,0,0,0,0,0,1,0,1,0
3,7200.0,4.811806,17.27,3416.67,792.0,14.0,4838.0,0.0,10.0,test,...,0,0,0,0,0,0,0,0,1,0
4,22000.0,13.961289,18.28,6083.33,722.0,9.0,20181.0,0.0,8.0,test,...,0,0,0,0,0,0,0,0,1,0

## Interpretation

We have used different models to predict the interest rate. After using lasso regression we find that the important parameters that influence the prediction of interest rate are Amount requested, Monthly income, FICO range, revolving credit balance.